@use '../../../runescape' as rs;

.rsr-title {
    header.rsr-title-header {
        text-align: center;
        margin-bottom: 10px;
    }

    main.rsr-title-body {
        display: grid;
        grid-template-columns: auto 1fr;

        aside.rsr-title-nav {
            legend {
                color: rs.$white;
                font-weight: bold;
            }
        }

        aside.rsr-title-content {
            margin-bottom: 110px;
            padding-left: 16px;

            .rsr-buttons {
                width: 457px;
                height: 110px;
                position: relative;
                margin: 0;

                a {
                    display: block;
                    position: absolute;
                    width: 200px;
                    height: 100px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    font-weight: bold;
                    color: white;
                    text-align: center;
                    top: 0;

                    &:hover {
                        background-position: bottom;
                    }

                    &.rsr-left {
                        left: 15px;
                        background-image: url('/assets/title/doublebutton_create.gif');
                    }

                    &.rsr-right {
                        right: 15px;
                        background-image: url('/assets/title/doublebutton_play.gif');
                    }
                }
            }

            .rsr-news-scroll {
                width: 466px;
                background: transparent url('/assets/scroll/scroll457t.gif') repeat-y center top;
                margin: 50px 0 25px;
                position: relative;
                padding: 25px 20px;
                box-sizing: border-box;

                &::before, &::after {
                    content: ' ';
                    display: block;
                    width: 466px;
                    height: 50px;
                    position: absolute;
                    left: 0;
                }

                &::before {
                    background: transparent url('/assets/scroll/scroll457_top.gif') no-repeat;
                    top: -25px;
                }

                &::after {
                    background: transparent url('/assets/scroll/scroll457_bottom.gif') no-repeat;
                    bottom: -25px;
                }

                .rsr-news-list {
                    padding: 13px 0;

                    .rsr-recent-news {
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    .rsr-news-post {
                        header {
                            font-weight: bold;
                            display: grid;
                            grid-template-columns: 1fr auto;
                        }

                        + .rsr-news-post {
                            margin-top: 13px;
                        }

                        main {
                            display: grid;
                            grid-template-columns: 1fr auto;
                            grid-column-gap: 1em;
                            min-height: 50px;
                            padding: 2px 2px calc(2px + 0.5em) 2px;

                            article {
                                text-align: justify;
                            }
                        }
                    }
                }

                .rsr-news-archive {
                    padding-bottom: 0.5em;
                    text-align: right;
                }
            }
        }
    }
}
