<div class="rsr-title">
    <header class="rsr-title-header">
        <img src="assets/title/rsrlogo1.png" alt="RS-Reborn" />
        <div>{{ randomMessage }}</div>
    </header>

    <main class="rsr-title-body">
        <aside class="rsr-title-nav">
            <fieldset class="rs">
                <legend>RS-Reborn</legend>

                <ul>
                    <li class="i-create">
                        <a href="/create">Create a free account (New user)</a>
                    </li>
                    <li class="i-play">
                        <a href="/game">Play RS-Reborn (Existing user)</a>
                    </li>
                    <li class="i-screen">
                        <a href="/screenshots">View in-game screenshots</a>
                    </li>
                </ul>
            </fieldset>
        </aside>

        <aside class="rsr-title-content">
            right
        </aside>
    </main>
</div>
