@use '../../../runescape' as rs;

.rsr-title {
    header.rsr-title-header {
        text-align: center;
        margin-bottom: 10px;
    }

    main.rsr-title-body {
        display: grid;
        grid-template-columns: auto 1fr;

        aside.rsr-title-nav {
            legend {
                color: rs.$white;
                font-weight: bold;
            }
        }

        aside.rsr-title-content {
            margin-bottom: 110px;
            padding-left: 16px;

            .rsr-buttons {
                width: 457px;
                height: 110px;
                position: relative;
                margin: 0;

                a {
                    display: block;
                    position: absolute;
                    width: 200px;
                    height: 100px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    font-weight: bold;
                    color: white;
                    text-align: center;
                    top: 0;

                    &:hover {
                        background-position: bottom;
                    }

                    &.rsr-left {
                        left: 15px;
                        background-image: url('/assets/title/doublebutton_create.gif');
                    }

                    &.rsr-right {
                        right: 15px;
                        background-image: url('/assets/title/doublebutton_play.gif');
                    }
                }
            }
        }
    }
}
