$late04-bg: black url('/assets/bg/background.jpg') repeat center top;
$late05-bg: black url('/assets/bg/bg.jpg') repeat-y center top;
$rs06-bg: black url('/assets/bg/bg-1.jpg') repeat-y center top;
$rs06-xmas-bg: black url('/assets/bg/bgsnow.jpg') repeat-y center top;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 13px;

$white: white;
$black: black;
$brown: #382418;
$link-brown: #7B4F17;
$input-brown: #444;
$link-green: #90c040;
