@use 'runescape' as rs;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: rs.$font-size;
    font-family: rs.$font-family;
    color: rs.$white;
    background-color: rs.$black;

    &.rs-late-04 {
        background: rs.$late04-bg;
    }
    &.rs-late-05 {
        background: rs.$late05-bg;
    }
    &.rs-06, &.rs-07, &.rs-08 {
        background: rs.$rs06-bg;
    }
}

a {
    color: rs.$link-green;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.rsr-scroll {
    color: rs.$black;

    a {
        color: rs.$link-brown;
        font-weight: bold;
    }
}

footer.rsr-site-footer {
    clear: both;
    font-size: 11px;
    text-align: center;

    select {
        background-color: rs.$black;
        color: rs.$white;
        border-color: rs.$input-brown;
        font-size: x-small;
    }
}
